@import 'bootstrap';

body {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
}

img {
  height: 25px;
  image-rendering: auto;
}

.customer-item {
  min-height: 150px;
  width: 100%;
}

.login-container {
  width: 970px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 14px;
  display: block;
  line-height: 20px;
}
.form-signin {
  max-width: 330px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 25%;
  margin: auto;
  box-sizing: border-box;
}