<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> {{#link-to 'index' class="navbar-brand" }}<img src="https://avatars1.githubusercontent.com/u/9672952?v=4&u=702368aab00a13d93a0d7309db6fb576199467f0&s=400">{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
              <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Buildcode<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">

          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Instadrone<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              {{#link-to 'photographers' tagName="li"}}<a href>Photographers</a>{{/link-to}}
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Sitemotion<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {{#link-to 'entrepeneur' tagName="li"}}<a href>Entrepeneurs</a>{{/link-to}}
          </ul>
        </li>
        {{#link-to 'about' tagName="li"}}<a href>About</a>{{/link-to}}
        <ul class="nav navbar-nav navbar-right">
          <li>
        <p class="navbar-text"> Logged in as {{session.currentUser.email}}</p>
          
    <button {{action 'logout'}} type="button" class="btn btn-default navbar-btn">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </button>
          </li>
        </ul>
      </ul>


    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>